.contenedor3{
    height: 30vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.iconosNav{
    opacity: 0.4;
    &:hover{
        transform: scale(1.5);
        opacity: 1;
    }
}
.iconosNav__imagen{
    width: 10vw;
}   
