main{
    grid-area: main;
}
.carousel-inner img {
    height: 80vh;
}
.contactosForm{
    h1{
        margin-top: 1vh;
        text-align: center;
    }
    form{
        width: 90%;
        font-size: 3vh;
    }
}
.entradaTexto{
    margin-left: 20vh;
}